@{
    ViewData["Title"] = "Health Information Page";
}
<div class="text-center">
    <h1>Welcome to The Health Information Page</h1>
    <h3>You can use the links below to get great health information and tips!</h3>
</div>
<div class="text-left">
    <div class="hi img-container">
        <a href="https://www.uhcrenewactive.com/location">
            <img src="~/images/gym.jpg" />
            Find your gym
        </a>
        <ul class="text-center">
            <li>Staying fit is vital to your continued health.</li>
            <li>Use this link to find a fitness center near you.</li>
        </ul>
    </div>
</div>
<br />



<div class="text-left">
    <div class="hi img-container">
        <a href="https://www.webmd.com/fitness-exercise/ss/slideshow-get-healthy-now">
            <img src="~/images/health_tips.jpg" />
            Your health tips
        </a>
        <ul class="text-center">
            <li>Sometimes you just need help staying healthy.</li>
            <li>Educating yourself is a wonderful way to keep on track.</li>
            <li>Use this link for some great health tips!</li>
        </ul>
    </div>
</div>