@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Health Today</h1>
    <h3>You can use this application to find and contact your physician or pharmacy and get some great health tips!</h3>
    <h4>Please register or login to use this site.</h4>
</div>

<div class="text-center">
    <div class="img-container">
        <img src="~/images/physician.jpg" alt="physician" />
        <img src="~/images/exercise.jpg" alt="exercise" />
        <img src="~/images/healthy_food.jpg" alt="healthy food" />
    </div>
</div>
