html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #00ffff;
}

h1 {
    text-align: center;
    color: #1E90FF;
}

h3 {
    text-align: center;
    color: #006400;
}

h4 {
    text-align: center;
    color: #483d8b;
}

.navbar-home {
    background-color: #0000ff;
    color: #f0ffff;
}

/* Custom class to reduce space between buttons */
.btn-custom {
    margin: 5px;
}

/* Custom class to center buttons horizontally */
.btn-center {
    display: flex;
    justify-content: center;
}

