@{
    ViewData["Title"] = "Health Access Page";
}

<div class="text-center">
    <h1>Welcome To The Health Access Page</h1>
    <h3>You can use the links below to find and contact your physician or pharmacy</h3>
</div>
<div class="text-left">
    <div class="ha img-container">
        <a href="https://www.zocdoc.com/primary-care-doctors">
            <img src="~/images/physician_group.jpg" alt="Find and contact your physician" />
            Find and contact your physician
        </a>

        <ul class="text-center">
            <li>It is important to keep in contact with your physician.</li>
            <li> Any changes in your health may lead you to reaching out for help.</li>
            <li> Even if you are on vacation or relocating, you may need a quick way to get medical care.</li>

        </ul>
    </div>

    <br />
    <div class="text-left">
        <div class="ha img-container">
            <a href="https://ncpa.org/pharmacy-locator"><img src="~/images/pharmacy.jpg" />Find and contact your pharmacy</a>

        </div>


    </div>
    <div class="column text-center">
        <ul class="text-center">
            <li>The connection to your pharmacy is just a few clicks away!</li>
            <li>A fast convenient way to fill and refill your prescriptions.</li>
            <li>Be sure to ask any questions you have for your pharmacist.</li>
        </ul>

    </div>

</div>
