@{
    ViewData["Title"] = "Health Access Page";
}

<div class="text-center">
    <h1>Welcome To The Health Access Page</h1>
    <h3>You can use the links below to find and contact your physician or pharmacy</h3>
</div>
<div class="text-left">
    <div class="ha img-container">
        <a href="https://www.zocdoc.com/primary-care-doctors" target="_blank"> 
            <img src="~/images/physician_group.jpg" alt="physician" align="left"/>
            <img src="~/images/physician2.jpg" alt="physician2" align="right" />
            <p class="text-white">Find and contact your physician</p>
        </a>
        <div>
            <p>
                It is important to keep in contact with your physician.
                Any changes in your health may lead<br /> you to reaching out for help.
                Even if you are on vacation or relocating, <br />you may need a quick way to get medical care.
            </p>
                

            
        </div>
        
    </div>

    <br />
    <div class="text-left">
        <div class="ha img-container">
            <a href="https://ncpa.org/pharmacy-locator" target="_blank">
                <img src="~/images/pharmacy.jpg" alt="pharmacy" align="left"/>
                <img src="~/images/pharmacy2.jpg" alt="pharmacy2" align="right" />
                <p class="text-white">Find and contact your pharmacy</p>
            </a>
            <div>
                <p>
                    The connection to your pharmacy is just a few <br />clicks away!
                    A fast convenient way to fill and refill <br />your prescriptions.
                    Be sure to ask any <br />questions you have for your pharmacist.
                </p>

            </div>
           

        </div>


    </div>
       
            
   

</div>
